body
{
    font-family: serif;
    /* margin: 0; */
    /* padding: 0; */
}
header
{
    font-family: serif;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 3%;
    height: 65px;
}
header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
}
header .logo span
{
    color: #38b6ff;
}
header .navbar a
{
    color: #fff;
    font-size: 1.1rem;
    margin: 0.8rem;
    text-decoration: none;
}
header .navbar a:hover
{
    color: #38b6ff;
}
.head
{
    height: 350px;
    max-width: 1400px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 8%;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-image: url('http://localhost/Awara.com/images/gallery_bg.jpg');
    background-size: cover;
}

/* first slider---------------------------------- */

#gellary
{
    position: relative;
    width:540px;
    height: 200px;
    margin: -20% 75%;
    margin-top: 50%;
    transform-style: preserve-3d; 
}
#gellary div
{
    position:absolute;
    overflow: hidden;
    width: 325px;
    height:225px;
    border:3px solid rgba(147, 209, 255, 0.58);
    transition: left 0.5s, transform 0.5s;
    transition-timing-function: ease-in-out;
}
#gellary div img
{
    width:100%;
    height: 100%;
    display: block;
}
.buttons
{
    clear: both; 
    margin: 80px;
}
.buttons .prev 
{
   border-radius: 60%;
   border: none;
   background: none;
}
.buttons .prev:hover
{
    background-color: #333;
    transition: 2s;
}
.buttons .prev i
{
   font-size: 45px;
   color: #38b6ff;
}
.buttons2
{
    clear: both; 
    margin-left: 89%;
    margin-top: -10%;
}
.buttons2 .next 
{
    border-radius: 60%;
    background: #333;
    border: none;
    background: none;
}
.buttons2 .next:hover
{
    background-color: #333;
    transition: 2s;
}
.buttons2 .next i
{
   font-size: 45px;
   color: #38b6ff;
}

/* gellary title start -------------------------------- */
.title1
{
    margin-top: 20%;
    text-align: center;
}
.sec-title-style1 {
    position: relative;
    display: block;
    margin-top: -9px;
    padding-bottom: 50px;
}
.sec-title-style1.max-width{
    position: relative;
    display: block;
    max-width: 770px;
    margin: -9px auto 0;
    padding-bottom: 52px;    
}
.sec-title-style1.pabottom50 {
    padding-bottom: 42px;
}
.sec-title-style1 .title {
    position: relative;
    display: block;
    color: #131313;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
}
.sec-title-style1 .title.clr-white{
    color: #ffffff;
}
.sec-title-style1 .decor {
    position: relative;
    display: block;
    width: 70px;
    height: 5px;
    margin: 19px 0 0;
}
.sec-title-style1 .decor:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #38b6ff;
    margin: 2px 0;
}


.sec-title-style1 .text{
    position: relative;
    display: block;
    margin: 7px 0 0;
}
.sec-title-style1 .text p{
    position: relative;
    display: inline-block;
    padding: 0 15px;
    color: #131313;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.sec-title-style1 .text.clr-yellow p{
    color: #38b6ff;
}
.sec-title-style1 .text .decor-left{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.sec-title-style1 .text .decor-left span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #38b6ff;
    content: "";
    margin: 2px 0;
}
.sec-title-style1 .text .decor-left:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .text .decor-left:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .text .decor-right{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.sec-title-style1 .text .decor-right span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #38b6ff;
    content: "";
    margin: 2px 0;
}
.sec-title-style1 .text .decor-right:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .text .decor-right:after{
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .bottom-text{
    position: relative;
    display: block;
    padding-top: 16px;
}
.sec-title-style1 .bottom-text p{
    color: #848484;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}
.sec-title-style1 .bottom-text.clr-gray p{
    color: #cdcdcd;    
}

/* gellary 2 is start ----------------------------------- */

.gelalry2
{
    font-size:1.3em;
    text-align:center;
}
.gelalry2 img
{
 
  width:23%;
  margin:1%;
  border-radius:5px;
  vertical-align:middle;
  transition:all 2s,transform .5s,box-shadow .5s;
}
.gelalry2 img:hover

{
   box-shadow:6px 6px 20px #222;
   /* transform-scale:1.02px;	 */
   border-radius:50px;                		
}		
.gelalry2 img:focus

{
   box-shadow:12px 12px 25px #223;
   /* transform-scale:1.02px;	 */
   width:46%;
   transform:none;				
}


footer
{
background: #f1f1f1;
padding: 60px 50px;
margin-top: 10%;
}
.footer-container
{
max-width: 1300px;
margin: auto;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap-reverse;
}
.footer-container .left-col .logo
{
width: 200px;
margin-left: -5px;
}
.social-media{
margin: 20px 0;
}
.social-media a{
color: #001a21;
margin-right: 25px;
font-size: 22px;
text-decoration: none;
transition: .3s linear;
}
.social-media a:hover{
color: #38b6ff;
}
.right-col h1{
font-size: 26px;
}
.border{
width: 180px;
height: 4px;
background: #38b6ff;
}
.newsletter-form{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.txtb{
flex: 1;
padding: 18px 40px;
font-size: 16px;
color: #293043;
background: #ddd;
border: none;
font-weight: 700;
outline: none;
border-radius: 30px;
min-width: 260px;
}
.btn{
padding: 18px 40px;
font-size: 16px;
color: #f1f1f1;
background: #38b6ff;
border: none;
font-weight: 700;
outline: none;
border-radius: 30px;
margin-left: 20px;
cursor: pointer;
transition: opacity .3s linear;
}
.btn:hover{
opacity: .7;
}
