body
{
    font-family: serif;
    /* margin: 0; */
    /* padding: 0; */
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 3%;
    height: 65px;
}
header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
}
header .logo span
{
    color: #38b6ff;
}
header .navbar a
{
    color: #fff;
    font-size: 1.1rem;
    margin: 0.8rem;
    text-decoration: none;
}
header .navbar a:hover
{
    color: #38b6ff;
}
.head
{
    height: 350px;
    max-width: 1400px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 8%;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-image: url('http://localhost/Travel2/images/v_bg.jpg');
    background-size:contain;
}
.head .map
{
  margin: auto;
  margin-top: 250px;
}
.head .map video
{
    box-shadow: #070404ab 0px 5px 15px 0px;
    width: 500px;
    height: 100%;
}

/* 380 rotate video ------------------------------------------------------------ */
.wrap-rel {
	position: relative;
	width: 100%;
	display: block;
}
.video-container {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	z-index: 0;
	display: block;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
/* #Video wrapper */
.video-section {
	position: relative;
	width: 80%;
	margin:0 auto;
	border-radius: 10px;
    margin-top: 45%;
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.45);
}
.video-wrapper, figure.vimeo, figure.youtube {
	margin:0;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
	border-radius: 10px;
}	
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}	
figure.youtube a img, figure.vimeo a img {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	max-width:none;
}	
figure.vimeo a:after, figure.youtube a:after {
	content:"";
	width:60px;
	height:60px;
	background: #fff;
	z-index:9;
	position:absolute;
	top:50%;
	left:50%;
	margin:-30px 0 0 -30px;
	border-radius:50%;
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.15);
	cursor: url('http://www.ivang-design.com/svg-load/play.png') 30 30,pointer;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
	box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.1);
}
figure.vimeo:hover a:after, figure.youtube:hover a:after{
	opacity: 0;
}
figure.vimeo a:before, figure.youtube a:before {
	border-left: 8px solid #212121;
}
figure.vimeo a:before, figure.youtube a:before {
	content:"";
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	z-index:10;
	position:absolute;
	top:50%;
	left:50%;
	margin-left: -3px;
	margin-top: -5px;
	display:block;
	cursor: url('http://www.ivang-design.com/svg-load/play.png') 30 30,pointer;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}
figure.vimeo:hover a:before, figure.youtube:hover a:before {
	border-color: transparent;
}	
figure.vimeo a:hover img, figure.youtube a:hover img {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}	
figure.vimeo a img, figure.youtube a img {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
	border-radius: 10px;
	cursor: url('http://www.ivang-design.com/svg-load/play.png') 30 30,pointer;
}

/* side video section ------------------------------------------- */

.side_video .left
{
    height: 300px;
    width: 23%;
    margin-top: -6%;
    margin-left: 2%;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.side_video .left img
{
  height: 100%;
  width: 100%;
  border-radius: 5%;
}
.side_video .right
{
    height: 300px;
    width: 23%;
    margin-top: -23%;
    margin-left: 75%;
    padding: 0 0 0 0;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-image: url('video/v1.gif');
    background-size: cover;
}
.side_video .right img
{
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

/* title section ------------------------------------------------ */
.title1
{
    margin-top: -1%;
    text-align: center;
}
.sec-title-style1 {
    position: relative;
    display: block;
    margin-top: -9px;
    padding-bottom: 50px;
}
.sec-title-style1.max-width{
    position: relative;
    display: block;
    max-width: 770px;
    margin: -9px auto 0;
    padding-bottom: 52px;    
}
.sec-title-style1.pabottom50 {
    padding-bottom: 42px;
}
.sec-title-style1 .title {
    position: relative;
    display: block;
    color: #131313;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
}
.sec-title-style1 .title.clr-white{
    color: #ffffff;
}
.sec-title-style1 .decor {
    position: relative;
    display: block;
    width: 70px;
    height: 5px;
    margin: 19px 0 0;
}
.sec-title-style1 .decor:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #38b6ff;
    margin: 2px 0;
}
.sec-title-style1 .text{
    position: relative;
    display: block;
    margin: 7px 0 0;
}
.sec-title-style1 .text p{
    position: relative;
    display: inline-block;
    padding: 0 15px;
    color: #131313;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.sec-title-style1 .text.clr-yellow p{
    color: #38b6ff;
}
.sec-title-style1 .text .decor-left{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.sec-title-style1 .text .decor-left span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #38b6ff;
    content: "";
    margin: 2px 0;
}
.sec-title-style1 .text .decor-left:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .text .decor-left:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .text .decor-right{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.sec-title-style1 .text .decor-right span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #38b6ff;
    content: "";
    margin: 2px 0;
}
.sec-title-style1 .text .decor-right:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .text .decor-right:after{
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #38b6ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .bottom-text{
    position: relative;
    display: block;
    padding-top: 16px;
}
.sec-title-style1 .bottom-text p{
    color: #848484;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}
.sec-title-style1 .bottom-text.clr-gray p{
    color: #cdcdcd;    
}

/* video section ------------------------------------------------------------ */

.container {
    position: relative;
    width: 2000%;
    height: 100vh;
    margin-top: 3%;
  }  
  .building {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(7, 160px);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    width: 105%;
    max-width: 2000px;
    margin: 0 -2.4%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 16px -3px #00000080;
    position: relative;
    overflow: hidden;
  }
.container .building video
 {
    height: 100%;
    width: 100%;
 }

  .building:before, .building:after {
    content: "";
    position: absolute;
    top: 0;
    width: 120%;
    left: -10%;
    transform: translate(0, -101%);
    transition: 0.42s opacity;
    opacity: 0.5233;
    pointer-events: none;
  }
  .building:before {
    height: 87px;
    background-color: #d36924;
    animation: effect1 12.4s linear forwards infinite;
    filter: blur(25px);
  }
  .building:after {
    height: 24px;
    background-color: #163ec25c;
    animation: effect2 5.88s linear forwards infinite;
    filter: blur(5px);
  }
  .building > div {
    display: grid;
  }
  .building > div:nth-child(1) {
    border: 6px solid #3a5337;
    grid-column: 1/span 3;
    grid-row: 1/span 2;
  }
  .building > div:nth-child(5) {
    border: 6px solid #4d3753;
    grid-column: 2/span 2;
    grid-row: 3/span 2;
  }
 
  .building > div:nth-child(9) {
    border: 6px solid #3a3753;
    grid-column: 2/span 3;
    grid-row: 5/span 2;
  }
 
  .building > div.blocks {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .blocks div, .single-block {
    padding: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 60%), linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 60%);
    background-size: 100% 100%, 100% 100%;
    background-position: top left, top right;
    background-blend-mode: overlay;
    position: relative;
    box-shadow: 0px 0px 20px 1px #00000038 inset, 0px 0px 2px 9px #ffffff82 inset;
  }
  
  .blocks div:before, .blocks .single-block:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-opacity='0.2'%3E%3Cpath fill='%23fff' d='M0 100V0h100v100H0zm50-17c-9.9 0-18-8.1-18-18s8.1-18 18-18 18 8.1 18 18-8.1 18-18 18zm-10-30l10 10-20 20 20 20-10 10-20-20-20 20-10-10 20-20-20-20z'/%3E%3C/g%3E%3C/svg%3E");
  }
  .blocks .div {
    transition: 0.21s;
  }
  .blocks div:hover {
    background-color: #db603a;
  }
  
  .single-block {
    box-shadow: 0px 0px 2px 9px #ffffff82 inset;
    border-radius: 10px;
    transition: 0.42s;
  }

/* text video background --------------------------------------------------- */

.bgtext
{
  margin: 0;
  padding: 0;
  margin-top: 50%;
}
.bgtext .banner
{
    position: absolute;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgtext .banner video
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bgtext .banner h2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 15vw;
    text-align: center;
    color: #000;
    mix-blend-mode: screen;
}

  
/* footer section ----------------------------------------------------------- */ 

 footer{
  background: #f1f1f1;
  padding: 60px 50px;
  margin-top: 65%;
}
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.footer-container .left-col .logo{
  width: 200px;
  margin-left: -5px;
}
.social-media{
  margin: 20px 0;
}
.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
.social-media a:hover{
  color: #38b6ff;
}
.right-col h1{
  font-size: 26px;
}
.border{
  width: 180px;
  height: 4px;
  background: #38b6ff;
}
.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #38b6ff;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
.btn:hover{
  opacity: .7;
}
